@import 'partials/header';
@import 'partials/hero';
@import 'partials/footer';
@import './variables';

/* 
font-family: 'Caveat', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Unbounded', sans-serif; */


:root {
	--primary-text-color: #212121;
	--additional-text-color: #ffffff;
	--accent-color: #2196f3;
	--text-color: #757575;
	--background-color: #2f303a66;
	--hover-color: #188ce8;
	--background-team-color: #f5f4fa;
	--background-filter-color: #f5f4fa;
 }
 
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	margin: 0;
 }

 html{
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	scroll-behavior: smooth;
	position: sticky;
	/* scrollbar-width: none;
	&::webkit-scrollbar {
		display: none;
	} */


 }
 
 a{
	color: inherit; 
	text-decoration: none;
 }
 
 .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
 
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
 }
 
 ul {
	margin: 0;
	padding: 0;
	list-style: none;
 }


 
 body {
	font-family: 'Raleway', sans-serif;
	background-color: #040000;
	color: #000;
	margin: 0;

	overflow-x: hidden;
 }
 
 a {
	text-decoration: none;
 }
 
 img {
	height: auto;
	display: block;
	max-width: 100%;
 }

 button{
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
 }

 

 section {
	height: 100%	;
 }

 .swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	
	
	display: flex;
	justify-content: center;
	align-items: center;
}

 
 .container {
	/* width: 1440px; */
	max-width: 1920px;

	padding: 0 40px;
	margin: 0 auto;
 }

.section_title-wrapper{
	background-color: #D9D9D9;
	width: 100%;
}

.section_title{
	font-family: Unbounded;
	font-weight: 900;
	font-size: clamp(2.25rem, 1.5825rem + 2.8479vw, 5rem);
	text-transform: uppercase;
	color: #000;
	padding: 10px 0;
}



@media (max-width: 1300px) {
	.container{
		padding: 0 20px;
	}
}

@media (max-width: 900px) {
	
}

@media (max-width: 500px) {
	
}
 

.wrapper{
	/* height: 100vh; */
}


/* HEADER */

header {
  width: 100%;
 
  overflow: hidden;

	background-color: #000;
	 color: #ffffff;
}

.header_container {
	height: 100%;
 }



.menu_list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu_element{
	width: 100%;
	text-align: center;
	font-family: Unbounded;
	font-size: clamp(1.25rem, 0.7258rem + 0.6452vw, 1.5rem);
	font-style: normal;
	font-weight: 400; 
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.menu_link{
	display: flex;
	justify-content: center;
	padding: 32px 0;
	width: 100%;
	height: 100%;
}

.menu_element:hover{
	cursor: pointer;
	background-color: #6D61FF;
}

#menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 100;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
}

#menu.active {
	height: 100%;
	opacity: 1;
	pointer-events: all;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu_burger{
	width: fit-content;
	z-index: 20;	
}

.menu_burger-button{
	font-family: Unbounded;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	text-transform: uppercase;
	color: #fff;
}


.menu_burger-nav{
	font-family: Unbounded;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	text-transform: uppercase;
	color: #fff;
}

.menu_burger-list{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.menu_burger-element{
	width: fit-content;
	padding: 5px 10px;
	
}

.menu_burger-element:hover{
	background-color: #6D61FF;
}

.menu_burger-element:focus{
	background-color: #6D61FF;
}

.menu_burger-close-wrapper{
	display: flex; 
	justify-content: flex-end;

}

.menu_burger-close{


}


.menu_burger-logo{

}

@media (max-width: 1400px) {
	.menu_link{
		padding: 28px 0;
	}
}

@media (max-width: 820px) {
	.menu_default{
		display: none;
	}

	.menu_link{
		justify-content: flex-start;
		padding: 0;
	}

	.menu_burger-button{

		font-size: 22px;
		
	}
}

@media (min-width: 821px) {
	.menu_burger{
		display: none;
	}
}

@media (max-width: 500px) {
	.menu_default{
		display: none;
	}
}


/*  HERO  */

.hero {
	margin: 0 auto;
	position: relative;
	padding-top: 1px;
	height: 100svh;
 }
 
.hero_container {
	display: flex;
	justify-content:flex-end;
	flex-direction: column;
	height: 100%;
	padding-top: 20px;

 }

.hero_skelya-pic{
	width: 100%;
	padding-bottom: 10px;
}

.hero_mobile-pic{
	
}

.hero_bottom-wrapper{
	padding: 10px 0;
}

.hero_logo-wrapper{
	width: 100%;
}


@media (max-width: 1400px) {
	.hero_container{
		padding-top: 10px;
	}

	.hero_bottom-wrapper{
		padding: 0;
		padding-bottom: 5px;
	}
}

@media (max-width: 820px) {
	.hero_container{
		justify-content: space-between;
	}
}

/* */


/* */


@media (max-width: 630px) {
	.hero{
		transition: height 0.2s;
	}
	.hero_container{
		padding: 0;
		padding-left: 20px;
		padding-top: 20px;
		
	}

	.hero_skelya-pic{
		display: none;
	}

	.hero_logo-wrapper{
		display: none;
	}
}

@media (min-width: 630px) {
	.hero_mobile-pic{
		display: none;
	}
}

/* SERVICES */

.services {
	
}

.services_container{
	padding: 0;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	
}

.services_card {
	
	color: #000;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	transition: all 0.2s ease-in-out;
	width: 100%;
	
}

.services_card-left{
	display: flex;
	flex-direction: column;
	grid-column: span 3;
	background-color: var(--hover-color);
	padding: 50px 30px;

	gap: 50px;
}

.services_card-right{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	grid-column: span 2;
	background-color: #040000;
}

.services_card-subtitle {
	font-family: Raleway;
	font-weight: 500;
	font-size: clamp(1.25rem, 0.9859rem + 0.8451vw, 2rem);
	line-height: 130%;
	margin-top: 30px;
}

.services_card-list-title{
	font-family: Unbounded;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;

}

.services_card-list{
	font-family: Raleway;
	font-weight: 500;
	font-size: 24px;
	list-style: disc;
	margin-left: 30px;
	margin-top: 15px;
}

.services_card-duration{
	font-family: Unbounded;
	font-weight: 500;
	font-size: clamp(1.25rem, 0.9859rem + 0.8451vw, 2rem);
	line-height: 130%;
	text-transform: uppercase;
}


.services_card-name {
	font-family: Unbounded;
	font-weight: 700;
	font-size: clamp(2rem, 1.5752rem + 1.8123vw, 3.75rem);
	text-transform: uppercase;

	
}

.services_card-img-wrapper{
	padding: 45px 45px;
	height: fill-available;
}

.services_card-img {
	width: 100%;
	height: 100%;
	fill: var(--hover-color);
	
	max-height: 500px;
	transition: all 0.2s ease-in-out;
}

.services_fill-transparent{
	transition: all 0.2s ease-in-out;
	stroke: #040000;
	
}

.services_card-bottom {
	display: flex;
}

.services_card-button {
	width: 100%;

	font-family: Unbounded;
	font-weight: 600;
	font-size: clamp(1.125rem, 0.9049rem + 0.7042vw, 1.5rem);
	line-height: 130%;
	text-transform: uppercase;
	text-align: center;
	border: 5px #000 solid;
	color: #000;
	background-color: var(--hover-color);
	transition: all 0.3s ease-in-out;
}

.services_card-button:hover{
	background-color: #ffffff;
}


.button_2{
	padding: 45px 35px;
}



@media (max-width: 1300px) {
	
}

@media (min-width: 901px) {
	.services_card-img-wrapper-mobile{
		display: none;
	}
}

@media (max-width: 900px) {
	.services_card {
		color: #000;
		display: flex;
		flex-direction: column;
		transition: all 0.2s ease-in-out;
		width: 100%;
	}

	.services_card-img-wrapper-mobile{
		display: block;
		padding: 25px 20px;
		height: -webkit-fill-available;
		background: #000;
	}

	.services_card-left{
		padding: 0;
		gap:15px
	}

	.services_card-content-mobile{
		padding: 25px 20px;
	}

	.services_card-duration{
		padding: 0 20px;
		padding-bottom: 40px;
	}

	.services_card-subtitle{
		padding: 0 25px;
		margin-top: 0;
	}

	.services_card-name{
		padding: 25px 20px;
	}

	.services_card-img-wrapper{
		/* display: none; */
		
	}

	.services_fill-transparent{
		stroke-width: 10;
	}

	.services_card-button{
		border: 2px #000 solid;
		color: #000;
	}

	.button_2{
		font-size: 20px;
		padding: 20px 25px;
	}
}

@media (max-width: 600px) {

}

@media (max-width: 400px) {
	.button_2{
		padding: 15px 0;
	}
}






/* EXPERTISE */

.expertise{

}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(900px * 20);
}

.slide {
  height: auto;
  width: 500px;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}


.expertise_swiper-content{
	background-color: var(--card-color);
	padding: 50px 35px;
}

.container_swiper{
	padding: 0;
}


@media (max-width: 1400px) {
	.slide-track {
		width: calc(1200px * 20);
	}
	
	.slide {
		height: auto;
		width: 300px;
	}
}

@media (max-width: 900px) {

}




/* FORMAT */

.format{

}

.format_container{
	display: flex;
	
	padding: 0;	
}

.format_left {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;

	color: #000;
	
}

.format_left-item {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 27px 40px;
	transition: all 0.3s ease-in-out;
	background-color: var(--hover-color);
}

.format_left-item:first-child {
	border-top: 0;
}


.format_left-item:hover{
	color: var(--hover-color);
	background-color: #000;
}

.format_left-item-text {
	font-family: Unbounded;
	font-weight: 700;
	font-size: clamp(1rem, 0.794rem + 1.005vw, 2rem);
	line-height: 100%;
	text-transform: uppercase;
	padding-top: 150px ;
}

.format_left-item-number {
	font-family: Unbounded;
	font-weight: 900;
	font-size: clamp(2.5rem, 2.1919rem + 0.9859vw, 3.375rem);
	line-height: 100%;
	text-align: left;	
}


.format_img {
	height: 100%;
	width: 100%;
}

@media (max-width: 1300px) {
	.format_container{
	
	}
}

@media (max-width: 900px) {
	.format_container{
		flex-direction: column;

	}
	

	.format_left{
		width: 100%;
	}

	.format_left-item:last-child{
		border-bottom: 2px solid #fff;
	}

	.format_left-item:first-child{
		border-top: 0;
	}

	.format_left-item{
		gap: 40px;
	}
}

@media (max-width: 800px) {
	.format_left{
		display: none;
		
	}
	.format_swiper-content{
		width: 100%;
		height: 400px;
		padding: 28px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: var(--card-color);
	}

	.format_left-item-number {
		font-weight: 600;
		font-size: 32px;
		line-height: 100%;
		color: #000;
		text-align: start;
	}

	.format_left-item-text {
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		text-transform: uppercase;
		color: #000;
		text-align: start;
	}

	.format_img{
		display: none;
	}
}

@media (min-width: 801px) {
	.format_mobile{
		display: none;
		
	}

	.format_img-mobile{
		display: none;
	}
	
}

@media(max-width: 400px){
	.format_left-item-text {

		/* font-size: 14px; */
		
	}
}


/* CASES */

.cases_container {
	width: 100%;
	display: flex;	
	padding: 0;
}

.cases_left {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

.cases_left-item {
	background-color: var(--hover-color);
	width: 100%;
	grid-column: span 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
	color: #000;	
	transition: all 0.3s ease-in-out;
}

.cases_left-item:hover {
	background-color: #000;
	color:  var(--hover-color);
}

.cases_left-item-number {
	font-family: Unbounded;
	font-weight: 900;
	font-size: 80px;
	line-height: 100%;
	text-transform: uppercase;
}

.cases_left-item-text {
	font-family: Unbounded;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	text-transform: uppercase;

	margin-top: 200px;
}

@media (max-width: 1400px) {
	.cases_left-item-number {
		font-size: 60px;
		text-align: left;
	}
	
	.cases_left-item-text {
		font-size: 20px;
		text-align: left;
		margin-top: 100px;
	}
}

@media (max-width: 800px) {
	.cases_swiper-content{
		width: 100%;
		height: 400px;
		padding: 28px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: var(--card-color);
	}

	.swiper-slide{
		justify-content: flex-start;
	}
	
}

@media (max-width: 800px) {
	.cases{
		display: none;
	}

	.cases_left-item-text {
		font-size: 18px;
		text-align: left;
		margin-top: 100px;
	}
}


@media (min-width: 801px) {
	.cases_mobile{
		display: none;	
	}
}


/* FOR WHOM */

.forwhom{

}

.forwhom_contaier {
	padding: 0;
}

.forwhom_img-wrapper {

}

.forwhom_img {
	height: 100%;
	width: 100%;
	
}

.fill-transparent{
	fill: #000;
	transition: all 0.3s ease-in-out;
}

.forwhom_img:hover .fill-transparent {
	stroke: var(--hover-color);
	fill: var(--hover-color);
}

@media (max-width: 1400px) {
	
}

@media (max-width: 900px) {
	.forwhom_contaier {
		padding: 0;
	}

	.forwhom_img-wrapper{
		display: none;
	}
	
}

@media (max-width: 500) {
	
}

@media (min-width: 900px) {
	.forwhom_img-mobile{
		display: none;
	}
}


/* REVIEWS */

.reviews_container {
	width: 100%;
	display: flex;	
	padding: 0;

}

.reviews_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

.reviews_card {
	background-color: var(--hover-color);
	width: 100%;
	grid-column: span 1;
	display: flex;
	justify-content: space-between;
	align-items: start;
  text-align: left;
	/* gap: 20px; */
	flex-direction: column;
	/* padding: 20px 40px;  */
	/* height: 580px; */
	
	position: relative;
}

.reviews_card-title {
	font-family: Unbounded;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	text-transform: uppercase;
	color: #000;
}

.reviews_card-text {
	font-family: Raleway;
	font-weight: 500;
	font-size: 24px;
	width: 55%;
	display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews_card-name {
	font-family: Unbounded;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	text-transform: uppercase;
	color: #000;
}

.reviews_card-position {
	font-family: Raleway;
	font-weight: 500;
	font-size: 24px;
}

.reviews_img{
	/* position: absolute; */
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: right;
	max-height:100%;
}

@media (max-width: 1400px) {
	.reviews_card-text {
		/* width: 40%; */
	}
}

@media screen and (min-width: 900px) {
	.mySwiper2{
		display: none;
	}
}


@media screen and (max-width: 900px) {
	.reviews_container{
		display: none;
	}

}


/* FAQ */

.faq{
	
}

.accordion_container{
	width: 100%;
	display: flex;	
	padding: 0;
}

.grid {
  display: flex;
	flex-direction: column;
  width: 100%;

}

.faq-container {
 
}

.faq-item{
	display: flex;
	
	flex-direction: column;
	border: 2px #fff solid;

	font-family: Unbounded;
}



.ri-add-line{
	color: #fff;
	display: flex;
  align-items: center;
	height: 48px;
	font-weight: bold;
}

.faq-header {
  display: flex;
  align-items: center;
	justify-content: space-between;
	font-size: 40px;
  column-gap: 10px;

  background-color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;

	padding: 40px;
}

/* .faq-header:hover{
	background-color: #6D61FF;
} */

.faq-header-title {
  font-weight: 500;
}

.faq-desp-wrapper{
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.faq-desp-content {
  /* padding: 0 1rem 2rem 1rem; */
	
}

.faq-header:hover {
  /* box-shadow: 0 2px 8px lightgray; */
}



.faq-desp {
	font-family: Raleway;
  overflow: hidden;
  height: 0px;
	font-size: 28px;
	font-weight: 500;
}

.faq-open .faq-header,
.faq-open .faq-desp {
  /* background-color: #0053d6; */
  color: white;
}

.faq-open .ri-add-line {
  transform: rotate(45deg);
}

.faq-desp-list{
	margin: 40px;
	list-style-type: disc;
}

.faq-desp-item{

}

.faq-item,
.faq-header,
.ri-add-line,
.faq-header-title,
.faq-desp,
.faq-desp-content {
  transition: 0.3s;
}




@media screen and (max-width: 800px) {
	.faq-header{
		font-size: 20px;
	}
	
	.faq-desp{
		font-size: 18px;
	}

	.reviews_container{
		display: none;
	}

}



@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}


/* FOOTER */

.footer{
	background-color: #6D61FF;

	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: clamp(1.125rem, 1.0992rem + 0.1256vw, 1.25rem);
	text-transform: uppercase;
	color: #000;

}

.footer_container{
	padding-bottom: 40px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer_content-wrapper{
	display: flex;
	padding-top: 32px;
}

.footer_content{
	padding-left: 13%;
}


.footer_list{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer_item{

}

.footer_label{
	
	display: flex;
	justify-content: flex-end;
}

.footer_logo-wrapper{
	padding-top: 100px;
}

.footer_logo{
	width: 100%;
}

@media (max-width: 1000px) {
	.footer_content-wrapper{
		flex-direction: column;
		
	}

	.footer_content{
		padding: 0;
	}

	.footer_content:not(:last-child){
		margin-bottom: 80px;
	}

	.footer_label{
		justify-content: flex-start;
		margin-bottom: 40px;
	}
}

@media (max-width: 900px) {
	

	
}

@media (max-width: 500px) {
	
}